---
import BlueLink from "./BlueLink.astro"

interface Props {
  name: string
  description: string
  link?: string
  notBlank?: boolean
  oss?: boolean | string
}

const { name, description, link, notBlank, oss } = Astro.props as Props
---

<a href={link} target={!notBlank ? "_blank" : undefined}>
  <div class="select-none mb-3 max-w-xl border-x-2 border-gray-500 bg-gray-200 dark:bg-gray-800 hover:bg-gray-300 dark:hover:bg-gray-700 transition duration-300 rounded p-4 cursor-pointer">
    <h3 class="text-xl font-bold">{name}</h3>
    <p class="mt-2 w-full text-base">{description}</p>
    {oss ? (typeof oss === "string" ? <BlueLink href={oss}>Source code</BlueLink> : <span class="mt-2 text-sm">Source code available soon</span>) : null}
    <slot />
    <!--  -->
  </div>
</a>